.ColoredBackgroundHeader {
  width: 100%;
  height: 258px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: linear-gradient(
    170.54deg,
    #3d00e0 20.42%,
    rgba(83, 0, 232, 0.69) 80.88%
  );
  position: fixed;
}

.CreateNewButton {
  margin-top: 35px;
  width: 79px;
  height: 50px;

  font-size: 40px;
  font-weight: 200;
  color: rgb(110, 110, 110);
  line-height: 38px;
  padding-bottom: 12px;
  display: inline-block;
  cursor: pointer;
  border: 2px dashed #828282;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
}

.CreateNewButton:focus {
  outline: 0;
}

.CreateNewButton:hover {
  background-color: #f9f9f9f9;
  transition-duration: 0.2s;
}

input {
  min-width: 10px;
  border: none;
  font-family: "Prompt", sans-serif;
  background-color: transparent;
  padding: 0;
}

.RemainderCalculation--overused {
  font-size: 30px;
  color: #e32a2a;
  display: inline-block;
}
.RemainderCalculation--remaining {
  font-size: 30px;
  color: #4f4f4f;
  display: inline-block;
}

.RemainderMessage {
  font-size: 15px;
  font-weight: 200;
  color: #828282;
  padding-left: 10px;
  padding-right: 30px;
  display: inline-block;
}

.LowerContainer {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 200px;
}

.GitHubIcon {
  margin: auto;
  text-align: center;
}
.fa-github {
  font-size: 32px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: #5438de;
  position: fixed;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .LowerContainer {
    width: 60%;
  }
}

@media screen and (max-width: 690px) {
  .LowerContainer {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .CreateNewButton {
    margin-top: 26px;
    width: 57px;
    height: 38px;
    font-size: 25px;
    line-height: 30px;
    padding: 0px;
    display: inline-block;
    cursor: pointer;
    border: 2px dashed #828282;
    box-sizing: border-box;
    border-radius: 14px;
  }
  .RemainderCalculation--overused {
    font-size: 20px;
  }
  .RemainderCalculation--remaining {
    font-size: 20px;
  }
  .RemainderMessage {
    font-size: 14px;
  }
  .ColoredBackgroundHeader {
    height: 245px;
  }

  .LowerContainer {
    padding-bottom: 150px;
  }

  .fa-github {
    margin-bottom: 20px;
    margin-right: 0px;
    position: static;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 510px) {
  .LowerContainer {
    width: 90%;
  }
}

.CalculationContainer {
  float: right;
}
